@tailwind base;
@tailwind components;
@tailwind utilities;

.anm1,
.anm2,
.anm3 {
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 2rem;
  animation: 0.3s swift-up ease-in-out forwards;
}

.anm2 {
  animation-delay: 0.2s;
}
.anm3 {
  animation-delay: 0.3s;
}
.anm4,
.anm5 {
  top: 0.8rem;
  opacity: 0;
  animation: 0.5s swift-up ease-in-out forwards,
    0.5s fade-in ease-in-out forwards;
}

.anm4 {
  animation-delay: 0.8s;
}

.anm5 {
  animation-delay: 1s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes swift-up {
  to {
    top: 0rem;
  }
}

* {
  font-family: "Dancing Script", cursive;
}
